@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'avenir';
	src: url('/avenir.otf');
}

html {
	scrollbar-gutter: stable;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
	width: 8px; /* Adjust scrollbar width */
}

::-webkit-scrollbar-track {
	background: var(--background); /* Match the track to the page background */
}

::-webkit-scrollbar-thumb {
	background: var(--foreground); /* Style the thumb */
	border-radius: 4px; /* Rounded corners for the thumb */
}

/* For browsers that support it */
* {
	scrollbar-width: thin; /* Make scrollbar less obtrusive */
	scrollbar-color: var(--foreground) var(--background); /* Thumb and track color */
}

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 240 10% 3.9%;
		--card: 0 0% 100%;
		--card-foreground: 240 10% 3.9%;
		--popover: 0 0% 100%;
		--popover-foreground: 240 10% 3.9%;
		--primary: 240 5.9% 10%;
		--primary-foreground: 0 0% 98%;
		--secondary: 240 4.8% 95.9%;
		--secondary-foreground: 240 5.9% 10%;
		--muted: 240 4.8% 95.9%;
		--muted-foreground: 240 3.8% 46.1%;
		--accent: 240 4.8% 95.9%;
		--accent-foreground: 240 5.9% 10%;
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 98%;
		--border: 240 5.9% 90%;
		--input: 240 5.9% 90%;
		--ring: 240 5.9% 10%;
		--radius: 0.5rem;
		--geist-background: #fff;
		--accents-1: #fafafa;
		--accents-2: #eaeaea;
		--accents-3: #999;
		--accents-4: #888;
		--accents-5: #666;
		--accents-6: #444;
		--accents-7: #333;
		--accents-8: #111;
		--geist-foreground: #000;
	}

	.dark,
	:root[class~='dark'] {
		/* --background: 240 10% 3.9%; */
		--background: #2c2c2c;
		--foreground: 0 0% 98%;
		--card: 240 10% 3.9%;
		--card-foreground: 0 0% 98%;
		--popover: 240 10% 3.9%;
		--popover-foreground: 0 0% 98%;
		--primary: 0 0% 98%;
		--primary-foreground: 240 5.9% 10%;
		--secondary: 240 3.7% 15.9%;
		--secondary-foreground: 0 0% 98%;
		--muted: 240 3.7% 15.9%;
		--muted-foreground: 240 5% 64.9%;
		--accent: 240 3.7% 15.9%;
		--accent-foreground: 0 0% 98%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 0% 98%;
		--border: 240 3.7% 15.9%;
		--input: 240 3.7% 15.9%;
		--ring: 240 4.9% 83.9%;
		--geist-background: #000;
		--accents-1: #111;
		--accents-2: #333;
		--accents-3: #444;
		--accents-4: #666;
		--accents-5: #888;
		--accents-6: #999;
		--accents-7: #eaeaea;
		--accents-8: #fafafa;
		--geist-foreground: #fff;
	}
	.mainwidth {
		@apply w-[90%] sm:w-[80%] md:w-[70%] lg:w-[60%] xl:w-[60%] 2xl:w-[40%];
	}
}

@layer base {
	.active {
		color: var(--secondary);
		@apply decoration-slice underline;
	}
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}

	a:not(nav a, div a) {
		/* @apply from-primary to-secondary bg-clip-text 	text-primary hover:bg-gradient-to-r hover:text-transparent; */
		@apply font-bold;
		font-family: 'poppins', sans-serif;
		/* @apply underline decoration-cyan-700 hover:decoration-cyan-900; */
	}

	h1 {
		@apply font-nunito;
	}

	p {
		@apply font-avenir;
		/* font-family: 'inter', sans-serif; */
		/* @apply text-zinc-800 dark:text-zinc-300; */
		/* text-sm */
	}

	.secondary {
		@apply text-zinc-600 dark:text-zinc-400;
	}

	.secondary-foreground {
		@apply bg-zinc-100 dark:bg-zinc-900;
	}
}

@layer components {
	.prose :where(h2):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
		@apply mb-3 mt-3 text-sm text-[var(--tw-prose-headings)];
	}

	.prose-xl
		:where(h2):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
		@apply mb-2 mt-2 text-[1.8em];
	}

	svg[id^='mermaid'] {
		/* @apply dark:rounded-md  dark:bg-[#e1e1e1]; */
	}

	.prose-strong {
		@apply font-light text-red-400;
	}
}

@layer utilities {
	.prose :where(p):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
		@apply mb-3 mt-3 text-[1em];
	}

	.bg {
		@apply bg-[#e1e1e1]/20 dark:bg-[#333]/10;
	}
}

code {
	counter-reset: line;
}

code > [data-line]::before {
	counter-increment: line;
	content: counter(line);

	display: inline-block;
	width: 1rem;
	margin-right: 2rem;
	text-align: right;
	color: rgba(128, 128, 128, 0.418);
}

code[data-line-numbers-max-digits='2'] > [data-line]::before {
	width: 2rem;
}

code[data-line-numbers-max-digits='3'] > [data-line]::before {
	width: 3rem;
}

code {
	@apply border p-1;
}

figure {
	@apply rounded-lg border;
}

/* svg[id^='mermaid'] .node,
svg[id^='mermaid'] .edgePath .path {
	fill: black;
	stroke: black;
} */

/* Fill and stroke settings for dark mode */

table {
	@apply w-full overflow-scroll rounded-lg;
}

th,
td {
	@apply border px-4 py-2 text-center align-top;
}

th {
	@apply font-semibold text-gray-700;
}

tbody tr:nth-child(even) {
	@apply bg;
}

.balanced {
	max-inline-size: 50ch;
	text-wrap: balance;
}
